<section class="page-section {{ section.background_style }}" id="{{ section.section_id }}">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
            <h2 class="text-white mt-0 text-center">
            <i class="fa fa-calendar-check"></i>
            {{ section.title }}</h2>
            <hr class="divider light my-4">

            <ul style="list-style-type:none">
                {% for date in section.dates %}
                <li><b>{{ date.title }}</b>: {{ date.date }}</li>
                {% endfor %}
            </ul>
            </div>
        </div>
        <div class="row mx-5 px-3 justify-content-center mt-3">
            <div class="col-md-3 text-center">
            <a class="btn btn-light btn-xl btn-block js-scroll-trigger" href="{{ section.action.url }}">{{ section.action.label }}</a>
            </div>
        </div>
        <div class="row mx-5 px-3 justify-content-center mt-3">
            {% for action in section.actions %}
            <div class="col-md-3 text-center">
            <a class="btn btn-light btn-xl btn-block js-scroll-trigger" href="{{ action.url }}">{{ action.label }}</a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
